.item {
  list-style: none;
}
.friendlist {
  padding: 0;
}
.wrap {
  display: flex;
  padding: 10px;
  text-align: center;
  align-items: center;
}
.online,
.offline {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: green;
  margin: 0 15px 0 15px;
}

.offline {
  background-color: red;
}
